# 라이브러리 관리

In [1]:
import pandas as pd

# 데이터 불러오기

In [3]:
weather_location = pd.read_csv('data/Weather Station Locations.csv')
weather_summary = pd.read_csv('data/Summary of Weather.csv')
print(weather_location.head())
print(weather_summary.head())

    WBAN            NAME STATE/COUNTRY ID    LAT     LON  ELEV   Latitude  \
0  33013          AIN EL               AL  3623N  00637E   611  36.383333
1  33031        LA SENIA               AL  3537N  00037E    88  35.616667
2  33023  MAISON BLANCHE               AL  3643N  00314E    23  36.716667
3  33044        TELERGMA               AL  3607N  00621E   754  36.116667
4  12001         TINDOUF               AL  2741N  00809W   443  27.683333

   Longitude
0   6.650000
1   0.583333
2   3.216667
3   6.416667
4  -8.083333
     STA      Date Precip  WindGustSpd    MaxTemp    MinTemp   MeanTemp  \
0  10001  1942-7-1  1.016          NaN  25.555556  22.222222  23.888889
1  10001  1942-7-2      0          NaN  28.888889  21.666667  25.555556
2  10001  1942-7-3   2.54          NaN  26.111111  22.222222  24.444444
3  10001  1942-7-4   2.54          NaN  26.666667  22.222222  24.444444
4  10001  1942-7-5      0          NaN  26.666667  21.666667  24.444444

  Snowfall PoorWeather  YR  ...  FB  FTI ITH  PGT  TSHDSBRSGF  SD3  RHX  RHN  \
0      0.0         NaN  42  ... NaN  NaN NaN  NaN         NaN  NaN  NaN  NaN
1      0.0         NaN  42  ... NaN  NaN NaN  NaN         NaN  NaN  NaN  NaN
2      0.0         NaN  42  ... NaN  NaN NaN  NaN         NaN  NaN  NaN  NaN
3      0.0         NaN  42  ... NaN  NaN NaN  NaN         NaN  NaN  NaN  NaN
4      0.0         NaN  42  ... NaN  NaN NaN  NaN         NaN  NaN  NaN  NaN

  RVG  WTE
0 NaN  NaN
1 NaN  NaN
2 NaN  NaN
3 NaN  NaN
4 NaN  NaN

[5 rows x 31 columns]

/var/folders/dn/kpsvhr056zz6gvcnmgrkklzr0000gn/T/ipykernel_35183/2725674899.py:2: DtypeWarning: Columns (7,8,18,25) have mixed types. Specify dtype option on import or set low_memory=False.
  weather_summary = pd.read_csv('data/Summary of Weather.csv')

# 데이터 전처리

In [8]:
# 필요없는 컬럼 제거 및 결측값 확인
weather_summary = weather_summary[['STA', 'Date', 'Precip', 'MaxTemp', 'MinTemp', 'MeanTemp', 'Snowfall', 'PoorWeather']]

In [10]:
# 결측값 확인
missing_values_summary = weather_summary.isnull().sum()
missing_values_summary

STA                0
Date               0
Precip             0
MaxTemp            0
MinTemp            0
MeanTemp           0
Snowfall        1163
PoorWeather    84803
dtype: int64

In [11]:
# Weather Station Locations 데이터
weather_location = weather_location[['WBAN', 'NAME', 'LAT', 'LON', 'ELEV']]

In [12]:
# 결측값 확인
weather_location = weather_location.isnull().sum()
weather_location

WBAN    0
NAME    0
LAT     0
LON     0
ELEV    0
dtype: int64

# 결측값 처리

In [13]:
# 결측값 처리 - Snowfall과 PoorWeather
# Snowfall의 결측값은 0으로, PoorWeather의 결측값은 'None'으로 채워줍니다.
weather_summary['Snowfall'].fillna(0, inplace=True)
weather_summary['PoorWeather'].fillna('None', inplace=True)

/var/folders/dn/kpsvhr056zz6gvcnmgrkklzr0000gn/T/ipykernel_35183/2649625334.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  weather_summary['Snowfall'].fillna(0, inplace=True)
/var/folders/dn/kpsvhr056zz6gvcnmgrkklzr0000gn/T/ipykernel_35183/2649625334.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  weather_summary['PoorWeather'].fillna('None', inplace=True)

In [14]:
# 결측값이 모두 처리되었는지 확인
missing_values_after_processing = weather_summary.isnull().sum()
missing_values_after_processing

STA            0
Date           0
Precip         0
MaxTemp        0
MinTemp        0
MeanTemp       0
Snowfall       0
PoorWeather    0
dtype: int64

In [15]:
# 데이터 결합 - STA와 WBAN을 기준으로 결합
# combined_df = pd.merge(weather_summary, weather_locations, left_on='STA', right_on='WBAN', how='left')

In [19]:
weather_location

WBAN    0
NAME    0
LAT     0
LON     0
ELEV    0
dtype: int64

In [17]:
weather_summary

,STA,Date,Precip,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather
0,10001,1942-7-1,1.016,25.555556,22.222222,23.888889,0.0,None
1,10001,1942-7-2,0,28.888889,21.666667,25.555556,0.0,None
2,10001,1942-7-3,2.54,26.111111,22.222222,24.444444,0.0,None
3,10001,1942-7-4,2.54,26.666667,22.222222,24.444444,0.0,None
4,10001,1942-7-5,0,26.666667,21.666667,24.444444,0.0,None
...,...,...,...,...,...,...,...,...
119035,82506,1945-12-27,0,28.333333,18.333333,23.333333,0.0,None
119036,82506,1945-12-28,9.906,29.444444,18.333333,23.888889,0.0,1.0
119037,82506,1945-12-29,0,28.333333,18.333333,23.333333,0.0,1.0
119038,82506,1945-12-30,0,28.333333,18.333333,23.333333,0.0,None
119039,82506,1945-12-31,0,29.444444,17.222222,23.333333,0.0,None